body {
    background-color: black;
}

#header {
    font-family: "garamond", serif;
    text-align: center;
    font-size: 3em;
    color: white;
}

p {
    padding-left: 2cm;
    font-family: "garamond", serif;
    color: white;
}

.link {
    color: gold;
    font-size: 1.25em;

}
.link:hover {
    color: red;
}

iframe {
     padding: 2cm;
}
